<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{Name}}</ion-title>
    <ion-toolbar>
      <ion-buttons start>
      </ion-buttons>
      <ion-searchbar [(ngModel)]="query"></ion-searchbar> 
      <ion-buttons end>
        <button ion-button icon-only>
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngIf="(Providers |async)?.length < 1">
   
    <div text-center>
        Sin resultados
      <img width="200" height="150" src="assets/imgs/searching.png"/>
    </div>
  </div>
  <ion-list>
    <ion-item>
      <div item-left class="logo">
        <img src="">
      </div>
      <ion-card style="border-left: 3px solid #ffae00" *ngFor="let prov of Providers | async |search:'CompanyName,Description':query "
        (click)="itemTapped($event,prov, prov.$value, prov.$key)">

        <ion-row>
          <ion-col width-80>
            <strong> {{prov.CompanyName}}</strong>
          </ion-col>
          <ion-col width-20 text-right>
            <ion-badge *ngIf="getRating(prov.rating)==0" color="secondary">Nuevo</ion-badge>
            <span *ngIf="getRating(prov.rating)>0">
              <ion-icon color="yellow" style=" text-shadow: 1px 1px 1px rgb(54, 63, 0);" name="md-star"></ion-icon>
              <!-- <ion-icon *ngFor="let item of ; let currindex = index" name="{{item}}"></ion-icon> -->
              <span style="color:black;">{{getRating(prov.rating)}} </span>
              <span style="color:gray">({{TotalRating(prov.rating)}}) </span>
            </span>
          </ion-col>
        </ion-row>
        <ion-card-content>
          <div class="text-description">
            <div col-9>
              {{ ( prov.Description.length>100)? ( prov.Description | slice:0:100)+'..':( prov.Description) }}
            </div>
            <div col-3> 
              <button (click)="Cotizar(prov)">Cotizar </button>
            </div>
          </div>
          <div class="item-note" item-end>

          </div>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>