page-categories {

  ion-spinner * {
    width: 28px;
    height: 28px;
    stroke: #06d106;
    fill: #00e8f0;
  }
  .card-borders{
    border: 2px solid   #ffae00;
    border-left: 10px solid #ffae00;
    border-radius: 0px 0px 30px 10px;
  }
  .logo img{
    width: 100%;
    min-height: 80px;
  }
  .card-background-page {
    ion-card {
      position: relative;
      text-align: left;
    }
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
      text-shadow: 10px 1px 10px #000;
    }
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
      text-shadow: 2px 2px 2px black;
    }
  }
  
  .item-md.item-block .item-inner {
    border: none !important;
  }
  .label-md{
    margin:0px!important;
  }
  .item-rating {
    position: absolute;
    bottom: 0;
    z-index: 100;
    background: transparent;
    border: none;
  }
  .text-description { 
    overflow-wrap: break-word;
    white-space: normal;
}
}
