.front{
    position: fixed;
    bottom: 0%;
    top: 90%;
}
 
.content .content-md {
    padding: 30px;
    background: rgba(0,0,0,0.5) !important;
  }

  .transparency{
    background: rgba(112, 48, 160, 0.67);
  }